h1{
    font-size: 3.5em;
    font-family: 'BIZ UDGothic', sans-serif;
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0e96a0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(153, 153, 153);
  }
  
  .btn:hover {background-color: #1963ec}
  
  .btn:active {
    background-color: #14ac4e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.mainGen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}